<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<title>Corona Virus Tracker</title>
<style type="text/css">
.tableFixHead {
	overflow-y: auto;
	height: 500px;
}

.tableFixHead thead th {
	position: sticky;
	top: 0;
}

/* Just common table stuff. Really. */
table {
	border-collapse: collapse;
	width: 100%;
}

th, td {
	padding: 8px 16px;
}
</style>
</head>
<body>
	<div class="container">
		<h1>Corona Virus Application</h1>
		<p>This app intends to show corona virus daily updates.</p>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="jumbotron">
						<h1 class="display-4" th:text="${totalLatestCases}"></h1>
						<p class="lead">Total Cases as of today</p>
					</div>
				</div>

				<div class="col">
					<div class="jumbotron">
						<h1 class="display-4" th:text="${totalNewCases}"></h1>
						<p class="lead">Total New Cases from previous day</p>
					</div>
				</div>
			</div>
		</div>
		<div class="table-responsive tableFixHead">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th>State</th>
						<th>Country</th>
						<th>Total Cases</th>
						<th>New cases(Diff of 1 day)</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="prod: ${locationstats}">
						<td th:text="${prod.Province_State}"></td>
						<td th:text="${prod.country}"></td>
						<td th:text="${prod.latestTotalCases}"></td>
						<td th:text="${prod.delta}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>